body{
    text-align: center;
    background-color: lightblue;
}
#button{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: aqua;
    color: red;
    cursor: pointer;
    margin-left: 700px;
}
#button:hover{
    background-color: black;
}
#joke, #jokecontent{
    padding: 20px;
    font-size: 20px;
}